.search-select {
    position: relative;
}

.search-select__picker {
    background: #fff;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, .5);
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: -1px;
    overflow: hidden;
}

.search-select__results {
    overflow-y: auto;
    max-height: 300px;
}

.search-select__controls {
    padding: 12px 24px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
}

.search-select_picker-hidden .search-select__picker {
    display: none;
}

.search-select-item_nothing-found .search-select-item__caption {
    color: #9e9e9e;
    font-style: italic;
}

.search-select-item.search-select-item_highlighted {
    background: #eee;
}

.search-select-item_highlighted .search-select-item__caption {
    color: #212121;
}

.search-select-item.search-select-item_active {
    background-color: #303f9f;
}

.search-select-item_active .search-select-item__caption {
    color: #fff;
}

.search-select-item.search-select-item_active:hover,
.search-select-item.search-select-item_active.search-select-item_highlighted {
    background: #25346d;
}
