.review {
   margin-bottom: 24px;
}

.review_highlighted {
    background: #deffe2;
}

.review .review__rating {
    display: inline-block;
    padding: 0 8px;
    float: left;
    background: #f5f5ff;
    margin-right: 5px;
    margin-top: 2px;
    border-radius: 4px;
}

.review .review__time {
    color: #999;
}

.review .review__empty-text {
    color: #999;
    font-style: italic;
}

.review .review__star {
    color: #ffd240;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: -5px;
}

.review__text {
    white-space: normal;
}
