.rating-input__selector {
    margin-top: 20px;
}

.rating-input__label {
    color: rgba(0,0,0,.26);
    display: block;
}

.rating-input__stars {
    margin: 0 -.2em;
}

.rating-input__stars button {
    margin: 0 -1px;
}

.rating-input__stars .rating-input_star-hover span,
.rating-input__stars .rating-input_star-active span {
    color: #ffd240 !important;
}

.rating-input__value {
    vertical-align: middle;
    margin-left: 1em;
    margin-top: .2em;
}

.rating-input_has-error label {
    color: #de3226;
}

.rating-input_has-error .help-block {
    color: #de3226;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: -20px;
}
