.rating-label {
    color: rgba(0,0,0,.26);
    display: block;
}

.rating-stars {
    margin: 0 -.2em;
}

.rating-stars span {
    margin: 0 .2em;
    color: rgba(0,0,0,.26);
}

.rating-stars .rating-star-hover span {
    color: #ffd240 !important;
}

.rating-value {
    vertical-align: middle;
    margin-left: 1em;
    font-size: 2em;
}

.has-error label {
    color: #de3226;
}

.has-error .help-block {
    color: #de3226;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: -20px;
}
