.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-right: 8px;
    padding-left: 8px;
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1184px;
        max-width: 100%;
    }
}
