.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

.container_header {
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1184px;
        max-width: 100%;
    }
}
