.rating-plate {
    padding-left: 8px;
    white-space: nowrap;
}

.rating-plate__rating {
    color: #ffd240;
}

.rating-plate .rating-plate__rating-icon {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 34px;
}

.rating-plate .rating-plate__count {
    margin-left: 5px;
    font-size: 18px;
}
